
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
<body>
<header>
  <h1>Sistema de Triagem Médica</h1>

</header>

<div class="cadastro">
    <form #formCadastro="ngForm" class="formcadastro" (ngSubmit)="onSubmit(formCadastro)"  id="formulario">

        <h2>Cadastrar</h2>
        <div class="form-group">
            <label for="nomeCompleto"></label>
            <input ngModel type="text" id="nomeCompleto" name="nomeCompleto" class="fullName" placeholder="Nome Completo" required>
        </div>

        <div class="form-group">
            <label for="email"></label>
            <input type="email" ngModel id="email" name="email" required class="email" placeholder="Seu email">
        </div>
      <div class="form-group">
        <label for="senha"></label>
        <input type="password" ngModel id="senha" name="senha" required class="password" placeholder="Digite sua Senha">
        <span id="senha-instrucoes" class="instrucoes">
        Senha, incluindo números e letras maiúsculas e minúsculas.
      </span>

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="confirmPassword">Confirmar Senha:</label>-->
<!--        <input type="password" id="confirmPassword" name="confirmPassword" required class="confirmPassword" placeholder="Confirme a Senha">-->
<!--        <span  id="senha-igual-span" class="instrucoes" style="display: none; color: red;"></span>-->
      </div>
<!--        <div class="form-group">-->
<!--            <button (click)="onSubmit()" type="submit">Enviar</button>-->

        <div class="form-group1">
            <button [disabled]="formCadastro.invalid" type="submit">Enviar</button>
          <button [routerLink]="['/login']" type="submit">Voltar</button>
        </div>

    </form>
    </div>

<p-toast></p-toast>
