body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #566e88, #69efc7, #2c2929);
  background-size: cover; /* Cobrir toda a página */
  background-repeat: no-repeat;
  height: 1050px;

}




.campo {

  align-items: center;
  justify-content: center;

}


#titulo {
  text-align: center;
  margin-bottom: 20px;
}

.campo p {
  text-align: center;
  margin-bottom: 20px;
  font-size:1.5rem;
}
#intensidade-field {
  display: none;
}

/* Estilos do formulário */
.formu {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(23, 18, 18, 0.2);
  width:70%;
  margin: auto;
  border:8px double #949393;
}

/* Estilos dos campos do formulário */
.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #333;
}

input[type="text"],
input[type="date"],
select {
  background-color: #fff;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid rgb(114, 106, 106);
  border-radius:5px;
  font-size: 1.1rem;
}
input[type="radio"] {
  margin-right: 5px; /* Espaçamento à direita do botão de rádio */
  cursor: pointer; /* Altera o cursor ao passar sobre */
  font-weight: bold;
}

.botao {

  width: 29%;
  padding: 10px;
  background-color: #0097A7;
  border: 3px double white;
  color: #f5f2f2;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 auto; /* Centraliza o botão */
  display: block;
  margin-top: 80px;

}

.botao:hover {
  border: 3px double white;
  background-color: #034d39;
  color:white;
}

footer{
  margin-top:40px;
  background: #6e6c6c;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-top: 5px double #eccbcb;
  width: 100%;
  margin-bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  .botao {
    font-size: 0.83rem;
  }
}

@media (max-width: 480px) {
  form {
    padding: 10px;
  }

  .botao {
    font-size: 0.75rem;
  }
}
