<div class="login-container">
    <form #formConsulta="ngForm" (ngSubmit)="onSubmit(formConsulta)"  class="login-form" id="formulario-agenda">
        <h2>Agendar Consultas</h2>
        <div class="form-group">
            <label>Identificação do usuário:</label>
            <input ngModel type="text" id="paciente" name="paciente" required  placeholder="Digite a identificação do usuário">
        </div>

        <div class="form-group">
            <label>Especialidade:</label>
            <input ngModel type="text" id="especialidade" name="especialidade" required placeholder="especialidade">
        </div>

        <div class="form-group">
            <label>Endereço da Consulta:</label>
            <input ngModel type="text" id="local" name="local" required placeholder="Digite o Endereço da Consulta">
        </div>
        <div class="form-group">
            <label>Data da Consulta:</label>
            <input ngModel type="date" id="date" name="date" required placeholder="Data da Consulta">
        </div>
        <div class="form-group">
            <label>Horário:</label>
            <input ngModel type="time" id="time" name="time" required  placeholder="Informe o Horário">
        </div>

        <div class="form-group">
            <button [disabled]="formConsulta.invalid"  type="submit">Enviar</button>
        </div>
    </form>
</div>
